.capitalize {
    text-transform: capitalize;
    text-align: left;
    padding-left: 35px;
}

.color:nth-child(2n) {
    background-color: #cbc6c6;
}

.color:nth-child(2n + 1) {
    background-color: #ffffff;
}
